html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  color: #333333;
  line-height: 1.6;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  background: url('../img/bg.png');
  background-repeat: no-repeat;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
}


ul,
ol {
  list-style: none;
  padding: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  pointer-events: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.section__header {
  text-align: center;
  color: #1C2D5A;
  max-width: 771px;
  width: 100%;
  margin: 0 auto;
}

.section__title {
  font-size: 40px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 700;
}

.section__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.button-primary {
  background: linear-gradient(95.03deg, #F09642 0%, #F0DF42 145.26%);
  border-radius: 40px;
  padding: 24px 36px;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .section__title {
    font-size: 35px;
  }
}

@media (max-width: 576px) {
  .section__title {
    font-size: 24px;
  }
}